@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\000031}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\000034}}
body {
  margin: 0;
  padding: 0;
  font: normal 18px/1.45 Lato, sans-serif;
  color: #414141;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\0000311}}
.top {
  font-family: Lato, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\0000315}}
a {
  color: #dc4444;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.1s ease border-color;
  -moz-transition: 0.1s ease border-color;
  transition: 0.1s ease border-color;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\0000320}}
a:hover {
  border-color: #e46e6e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\0000325}}
h1, h2, h3 {
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\0000329}}
h1 {
  font-size: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_typography\.scss}line{font-family:\0000333}}
h2 {
  font-size: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\000031}}
.post img {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\000035}}
.main {
  width: 90%;
  max-width: 35em;
  margin: 0 auto;
}
@media screen and (max-width: 35em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\000035}}
  .main {
    width: auto;
    padding: 0 10px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000315}}
.top {
  overflow: hidden;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000318}}
.top hgroup, .top nav {
  margin: 0 auto;
  width: 90%;
  max-width: 35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000323}}
.top ul {
  list-style: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000326}}
.top ul li {
  display: inline-block;
  margin-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000330}}
.top ul a {
  padding: 5px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000335}}
.top a:hover {
  border-color: #c72525;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000339}}
.top h1 {
  font-size: 55px;
  letter-spacing: -1px;
  margin-bottom: .3em;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000344}}
.top h1 a {
  border-bottom: 0;
  color: #333;
}
@media screen and (max-width: 35em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000350}}
  .top h1 {
    font-size: 35px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000353}}
  .top h2 {
    font-size: 18px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000357}}
.top h2 {
  color: #aaa;
  margin-top: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 35em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000363}}
  .top hgroup, .top nav {
    width: auto;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000369}}
.blogposts {
  margin-top: 2.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000374}}
.post h2, .post h1 {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000377}}
.post .preamble {
  font-size: 110%;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000381}}
.post .pubdate {
  color: #aaa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000386}}
.profile_img {
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% 50%;
  -ms-border-radius: 50% 50%;
  border-radius: 50% 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/patrik\/Sites\/blogdesign\/scss\/_layout\.scss}line{font-family:\0000390}}
.rightaligned {
  float: right;
  margin: 0 0 .5em .5em;
}
