$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;

@import "compass/css3";
@import "compass/utilities";

$lineHeight: 1.5;
$fontSize: 16px;

$background: #fff;
$baseColor: #333;

$bgBorder: #323646;
$red: #d80011;

$linkColor: #E46730;
$linkBorder: #ca003c;

$headBorder: darken($linkColor, 10%);

.leftaligned {
    float: left;
}

.rightaligned {
    float: right;
}