.post img {
    max-width: 100%;
}

.main {
    width: 90%;
    max-width: 35em;
    margin: 2.5em auto 0 auto;
    @media screen and (max-width: 35em) {
        width: auto;
        padding: 0 10px;
    }
}

.top {
    overflow: hidden;
    text-align: center;
    hgroup, nav {
        margin: 0 auto;
        width: 90%;
        max-width: 35em;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 15px;
        }
        a {
            padding: 5px 10px;
        }
    }
    a {
        &:hover {
            border-color: darken($orange, 20%);
        }
    }
    h1 {
        font-size: 55px;
        letter-spacing: -1px;
        margin-bottom: .3em;
        font-weight: bold;
        a {
            border-bottom: 0;
            color: #333;
        }
    }
    @media screen and (max-width: 35em) {
        h1 {
            font-size: 35px;
        }
        h2 {
            font-size: 18px;
        }
    }
    h2 {
        color: #aaa;
        margin-top: 0;
        text-shadow: 0 1px 0 rgba(white, .15);
    }
    @media screen and (max-width: 35em) {
        hgroup, nav {
            width: auto;
        }
    }
}

.post {
    h2, h1 {
        margin-top: 0;
    }
    .preamble {
        font-size: 110%;
        font-weight: bold;
    }
    .pubdate {
        color: #aaa;
    }
}

.profile_img {
    @include border-radius(50% 50%);
}

.rightaligned {
    float: right;
    margin: 0 0 .5em .5em;
}