body {
    background: $background;
    border-top: 5px solid lighten($baseColor, 10%);
    color: $baseColor;
    min-width: 320px;
}

img, object, embed, video {
    max-width: 100%;
}

hr {
    display: block;
    border: none;
    border-bottom: 1px solid lighten($baseColor, 60%);
    margin-bottom: 1em;
}

.top, .main {
    margin: 4% auto 0 auto;
    width: 80%;
    max-width: 720px;
}

/* .main {
    background: #fff;
    background: rgba(255, 255, 255, .85);
    padding: .8em;
    @include border-radius(3px);
    @include box-shadow(1px 2px 0 rgba(0, 0, 0, .08));
} */

.top {
    @include clearfix;
    hgroup {
        width: 60%;
        float: left;
    }
    nav {
        width: 40%;
        float: right;
    }
    ul {
        margin: 0;
        padding: 0;
        text-align: right;
    }
    li {
        margin-left: .5em;
        @include inline-block;
    }
    @media screen and (max-width: 480px) {
        hgroup {
            width: 100%;
            float: none;
        }
        nav {
            @include clearfix; 
            width: 100%;           
            float: none;
        }
        li, a {
            display: block;
            margin: 0;
        }
        a {
            text-indent: .5em;
        }
        h1 a {
            text-indent: 0;
        }
        ul {
            line-height: 2;
            text-align: left;
        }
    }
}

.post {
    position: relative;
    margin-bottom: 2.5em;
    &:hover {
        time {
            @include opacity(1);
        }
    }
    time {
        position: absolute;
        left: -80px;
        top: 0;
        background: $headBorder;
        color: #fff;
        text-shadow: none;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 60px;
        @include opacity(.5);
        @include inline-block;
        @include border-radius(100%);
        @include box-shadow(inset 0 0 20px rgba(0, 0, 0, .05));
        @include transition(left .4s ease, opacity .3s ease-out);
    }
    
    @media screen and (max-width: 640px) {
        h2 {
            margin-bottom: .5em;
        }
        time {
            width: auto;
            height: auto;
            left: -50px;
            top: 20px;
            line-height: 1;
            padding: 2px 4px;
            @include transform(rotate(-90deg));
            @include border-radius(3px);
            @include opacity(1);
        }
    }
    footer {
        margin-top: 1.5em;
        &.discussion {
            border-top: 1px solid lighten($baseColor, 60%);
            margin-top: 2em;
            padding-top: 2em;
            position: relative;
            &:before {
                content: '';
                width: 100%;
                display: block;
                background: #FFF;
                height: 1px;
                position: absolute;
                top: 0;
            }
        }
    }
    .rightaligned {
        margin: 0 0 .5em .8em;
    }
}

.fluid-width-video-wrapper {
    @include box-shadow(0 10px 25px rgba(0, 0, 0, 0.25));
    
    @media screen and (max-width: 480px) {
        @include box-shadow(none);
    }
    
}

.pager {
    text-align: center;
}

.rolelist {
    @include clearfix;
    padding: 0;
    list-style-position: inside;
    li {
        width: 50%;
        float: left;
    }
}

.sitefooter {
    border-top: 4px solid rgba(0, 0, 0, .3);
    background: url("img/footerbg.png") repeat;
    margin-top: 60px;
    padding: 1.5em 0 3em 0;
    @include box-shadow(inset 0 0 80px rgba(0, 0, 0, .5));
    div {
        width: 92%;
        margin: 0 auto;
        max-width: 720px;
        @include clearfix;
    }
    p {
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        text-align: right;
    }
    p, a {
        font-size: .9em;
        color: #b1b1b1;
        text-shadow: 0 -1px 0 $baseColor;
    }
    li {
        list-style: none;
        margin-right: 10px;
        @include inline-block;
        a:hover {
            background: none;
        }
    }
    .leftaligned {
        float: left;
        width: 65%;        
    }
    .rightaligned {
        float: right;
        width: 35%;
    }
    
    @media screen and (max-width: 480px) {
        .rightaligned, .leftaligned {
            float: none;
            width: auto;            
        }
        ul {
            text-align: left;
        }
    }
    
}