* {
	@include box-sizing(border-box);
}
body {
	background: #f7f7f7;
	margin: 0;
	padding: 0;
	font: 300 18px/1.45 'Open Sans', sans-serif;
	color: #414141;
}

.top {
	h1 {
		color: #fff;
	}
}

a {
	color: $red;
	text-decoration: none;
	border-bottom: 1px solid rgba(black, .1);
	@include transition(.1s ease border-color);
	&:hover {
		border-color: $red;
	}
}

h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
	margin-bottom: .5em;
}

h4 {
	font-size: 18px;
	margin-bottom: .3em;
}

p {
	line-height: 1.6;
	@media screen and (max-width: 35em) {
		font-size: .85em;
	}
}

.gist-data {
	span {
		@media screen and (max-width: 35em) {
			font-size: .85em;
		}
	}
}