---
layout: default
---

<article class="post">
    <h1>
    {% if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}
    </h1>
    <time datetime="{{ page.date }}">{{ page.date | date:'%d %b' | downcase }}</time>
    {% if page.image %} <img src="{{ page.image }}"> {% endif %}
    {{ content }}
    <footer class="discussion">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'patrikwibron';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Vänligen slå på Javascript för att ta del av kommentarerna från <a href="http://disqus.com/?ref_noscript">Disqus.</a></noscript>
    </footer>
</article>